/* Hamburger */
.wrapper {
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 0;
  z-index: 5;
}

.menu {
  font-size: 1rem;
  color: var(--dark-text);
  top: -1rem;
  background-color: white;
}

.wrapper .material-design-hamburger .material-design-hamburger__icon i {
  padding: 0.5rem;
  margin-top: 0.25rem;
  cursor: context-menu;
}

.header .wrapper .material-design-hamburger.model .material-design-hamburger__icon {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  width: 100%;
}

.menu {
  div {
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
    &:hover {
      background-color: #eeeeee;
    }
    &:first-child {
      color: #e53935;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0.875rem;
      padding: 0 1rem 0.875rem;
      &:hover {
        background-color: inherit;
      }
    }
    &.spacer {
      &:hover {
        background-color: inherit;
      }
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin: 0;
      padding: 0;
    }
    i {
      font-size: 1rem;
      line-height: 1.125rem;
      padding-right: 1rem;
      vertical-align: text-top;
    }
  }
  a {
    text-decoration: none;
    color: #3367d6;
    &:hover {
      text-decoration: underline;
    }
  }
  div:last-child {
    border: 0;
  }
}

.menu--off {
  height: 100%;
  position: fixed;
  /*top: 0;*/
  transform: translateZ(0);
  /*position: absolute;*/
  left: -16rem;
  width: 16rem;
  display: block;
  min-height: 37rem;
  /*height: 125%;*/
  margin-top: 1em;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu--on {
  left: 0;
  box-shadow: 0.5rem 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.material-design-hamburger button {
  display: block;
  border: none;
  background: none;
  outline: 0;
}

.material-design-hamburger__icon {
  /*padding: 3rem 1rem;*/
  width: 2.5rem;
  cursor: pointer;
}

.material-design-hamburger__layer {
  display: block;
  width: 6.25rem;
  height: 0.625rem;
  /*background: #eee;*/
  position: relative;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  &:before, &:after {
    display: block;
    width: inherit;
    height: 0.625rem;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  &:before {
    bottom: 200%;
  }
  &:after {
    top: 200%;
  }
}

.material-design-hamburger__icon--to-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide;
  animation-name: material-design-hamburger__icon--slide;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  &:before {
    -webkit-animation-name: material-design-hamburger__icon--slide-before;
    animation-name: material-design-hamburger__icon--slide-before;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  &:after {
    -webkit-animation-name: material-design-hamburger__icon--slide-after;
    animation-name: material-design-hamburger__icon--slide-after;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.material-design-hamburger__icon--from-arrow {
  -webkit-animation-name: material-design-hamburger__icon--slide-from;
  animation-name: material-design-hamburger__icon--slide-from;
  &:before {
    -webkit-animation-name: material-design-hamburger__icon--slide-before-from;
    animation-name: material-design-hamburger__icon--slide-before-from;
  }
  &:after {
    -webkit-animation-name: material-design-hamburger__icon--slide-after-from;
    animation-name: material-design-hamburger__icon--slide-after-from;
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide {
  0% {}

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes material-design-hamburger__icon--slide {
  0% {}
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-before {
  0% {}
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-before {
  0% {}
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-after {
  0% {}
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes material-design-hamburger__icon--slide-after {
  0% {}
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {}
}

@keyframes material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {}
}

@-webkit-keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {}
}

@keyframes material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {}
}

@-webkit-keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {}
}

@keyframes material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {}
}
