/* application header - top bar */
.header {
  background-color: var(--primary-color);
  border: 0 none;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.14), 0 0.25rem 0.25rem -0.125rem rgba(0, 0, 0, 0.2), 0 1px 0.5rem 0 rgba(0, 0, 0, 0.12);
  height: 3rem;
  left: 0;
  margin: 0 0 0.5rem 0;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  width: 100%;
  z-index: 3;
  transition: background-color 1s;
  overflow: unset;
  footer {
    background-color: white;
    bottom: 1rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.14), 0 0.25rem 0.25rem -0.125rem rgba(0, 0, 0, 0.2), 0 1px 0.5rem 0 rgba(0, 0, 0, 0.12);
    color: #4caf50;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    height: 2.25rem;
    left: 25%;
    line-height: 2.25rem;
    position: absolute;
    right: auto;
    text-align: center;
    width: 50%;
    z-index: 2;
    opacity: 0;
    transition: bottom 1s, opacity 0.25s;
    &.show {
      bottom: -1.75rem;
      opacity: 0.75;
    }
    &.showError {
      background-color: 0;
      color: rgba(255, 255, 255, 0.85);
      bottom: -1.75rem;
      opacity: 0.75;
    }
  }
  &.green {
    background-color: var(--green-500);
  }
  &.red {
    background-color: var(--red-500);
  }

  .user {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgba(255,255,255,0.85);
    border-radius: 50%;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: black;
  }

  figure {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0.5rem 0 0;
    opacity: 0.85;

    &.logo {
      opacity: 0.85;
      cursor: pointer;
    }
  }
  h1, h2 {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.85);
    line-height: 3rem;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 2.5rem;
    left: 0;
    position: absolute;
    top: 0;
  }
  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
  }
  nav.menu {
    display: block;
    position: absolute;
    left: 0.65rem;
    top: 0.75rem;
    z-index: 3;
    background: rgba(0, 0, 0, 0);
    cursor: context-menu;

    ul {
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0.125rem 0.25rem  0.25rem rgba(0, 0, 0, 0.1);
      background-color: white;
      z-index: 4;
      margin: 0.25rem 1rem 0 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      max-height: 1px;
      transition: max-height 0.3s ease-out, visibility 0s linear 0.5s,opacity 0.5s linear;
    }
  }
}
