@import "./reset.scss";
@import "./input.scss";

@import "./atariscroll.scss";

@import "./icons.scss";

.secondary {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
}

span {
  &.green, &.valid {
    color: var(--green-500);
  }
  &.red, &.invalid {
    color: var(--red-500);
  }
}

@import "./hamburger.scss";

code.bad, input:invalid {
  border-bottom: 0.125rem solid var(--red-500);
  padding-bottom: 0;
  outline: none;
  box-shadow: none;
}

input.full, textarea.full {
  width: 100%;
}

progress {
  margin-left: auto;
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}

.controlPanel {
  margin-bottom: 0.65rem;
  margin-top: 0.65rem;
  padding-bottom: 0.65rem;
  padding-top: 0.65rem;
  color: var(--dark-text);
}

@import "./button.scss";

.center {
  text-align: center;
}

div.center, ul.center, ol.center {
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@import "./header.scss";

@import "./menu.scss";

@import "./sidenav.scss";

.editList dl {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 300;
  dt {
    float: left;
    clear: left;
    min-width: 6.25rem;
    text-align: right;
  }
  dd {
    margin: 0 0 0 11rem;
    padding: 0 0 0.5em 0;
  }
}

.inlineButton {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  i {
    font-size: 1em;
    line-height: 1em;
  }
  &.large {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    i {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
}

.flexContainer {
  display: flex;
  /* establish flex container */
  flex-direction: row;
  /* default value; can be omitted */
  flex-wrap: nowrap;
  /* default value; can be omitted */
  justify-content: space-between;
  /* switched from default (flex-start, see below) */
  flex-grow: 1;
  align-items: flex-start;
  margin: 0.5rem 0 !important;
  > {
    p, div {
      margin: 0 !important;
    }
  }
}

@import "./panel.scss";

/* specific panels */

.avatar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem  0.25rem rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 1em;
  height: 3rem;
  line-height: 3rem;
  margin: 1 0.25rem !important;
  position: relative;
  text-align: center;
  width: 3rem;
  &.large {
    width: 6rem;
    height: 6rem;
    font-size: 2em;
    line-height: 6rem;
    flex: 0 0 6rem;
  }
}

.avatarTitle {
  margin-top: 1.25rem;
  &.large {
    margin-top: 5 0.25rem;
  }
}

.circle {
  border-radius: 2 0.25rem;
  &.large {
    border-radius: 3rem;
  }
}

.float {
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.vcenter {
  vertical-align: middle;
}

.box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

.card {
  display: block;
  border: 1px solid #cfd8dc;
  border-radius: 0.125rem;
  box-shadow: 1px 1px 0.25rem rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
}

@import "./table.scss";
@import "./dialog.scss";

.fade {
  opacity: 0;
}

.content {
  margin: auto 0.5rem;
}

@import "./router.scss";

/* notify */

.slide {
  transform: translateX(18.75rem);
  opacity: 0;
}

.hide {
  display: none;
  visibility: hidden;
}

@import "./indicator.scss";
