/* TABLES */

table {
  border-collapse: collapse;
  /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
  border: 1px solid var(--dark-text);
  width: 100%;

  td, th {
    border: 1px solid var(--dark-text);
    color: var(--dark-text);
    max-width: 18.75rem;
    overflow: auto;
    padding: 0.25rem;
    height: 1.5rem;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1em;
  }

  &.material {
    border-collapse: collapse;
    /* Merges cell borders together */
    /* Browser default: border-collapse: separate; border-spacing: 2px; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
    color: var(--dark-text);
    position: relative;

    ul.errors {
      color: #f44336;
    }

    caption {
      color: rgba(0, 0, 0, 1);
      font-size: 1.25em;
      font-weight: 400;
      left: 1rem;
      position: absolute;
      text-align: left;
      top: 0.5rem;
    }

    td.number, th.integer, td.integer {
      text-align: right;
    }

    td {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 0.85em;
      input {
        color: var(--dark-text);
      }
      max-width: 18.75rem;
      overflow: auto;
      padding: 0.5rem 1rem;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: normal;
      word-wrap: break-word;
    }
    th {
      max-width: 18.75rem;
      overflow: auto;
      padding: 0.5rem 1rem;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: normal;
      word-wrap: break-word;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 0.7em;
      color: rgba(0, 0, 0, 0.6);
      padding-top: 5em;

      &:first-child {
        empty-cells: hide;
        /* Hide empty cells when they're the first in the row */
      }

      &[data-name="lineNumber"] {
        width: 1.5rem;
        text-overflow: ellipsis;
        text-align: right;
      }

      &.sorted {
        background-color: #eeeeee;
        &::before {
          content: "\21f5\00a0";
        }
      }
    }
    td {
      select {
        margin: 0;
        width: 100%;
        border: 0;
        height: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAZBJREFUeJzt0jtOw0AYhdG7AVgQj57XhlkBm6GDAiooIguEQrCxnZnfOUea2jO+XwIAAAAAAAAAAAAAAAAAAAAAAAAAAAAHnbW+wAK28IYmrpM8J7lpfZEZHrJ7w0Xri1RzneQ1yUeSt9SM4CHJe3ZveIkIRrvK1/jDqRbB9/GHI4IR9o1fLYJ944tghKvsftC+H1clgkPji+CAy/w9/nDek9y2ueZBY8YXwR5Txu81ginji+CHx0z7cb1F8J/xh/PY4L7dOU/ylJoRzBn/Kbu3k5oRGH9hlSIw/koqRGD8lc2N4G7Fuxn/SHqMwPhH1lMExm+khwiM31jLCIzfiRYRGL8zcyO4n/At43fqGBEYv3NrRmD8ItaIwPjFLBmB8YtaIgLjFzc3AuNvwJwIjL8Rx4rA+B1bOwLjF7BWBMYvZOkIjF/QUhEYv7C5ERh/A/4bgfE3ZGoExt+gsREYf8P+isD4J+C3CIx/Qn5GYPwTNERg/BN2HuMDAAAAAAAAAAAAAAAAAAAAAAAAAAAADX0C1EVRxOOijgAAAAAASUVORK5CYII=') no-repeat scroll 100% (center / 10%) auto;
      }

      input {
        width: 100%;
        border: 0 none;
        height: 100%;
        display: inline-block;
        position: relative;
        background-color: transparent;
        margin: 0;
        &:invalid {
          /*background-color: #ffebee;*/
          border: 0;
          border-bottom: 1px dashed #b71c1c;
          /*color: #b71c1c;*/
          box-shadow: none;
        }
      }
      &:hover {
        background-color: #fafafa;
      }

      &.label {
        color: rgba(0, 0, 0, 1);
        font-size: 1em;
        font-weight: 400;
      }
      &:first-child {
        empty-cells: hide;
        /* Hide empty cells when they're the first in the row */
      }

      &.select {
        width: 1rem;
        input[type=checkbox] {
          width: 1rem;
        }
      }
      &.sorted {
        background-color: #F5F5F5;
      }
    }
  }
}

/*
table.material td input:focus {
    background-color: rgba(255,255,204,0.85);
}
*/

/* pagfination styles */

div.paginationControl.material {
  display: block;
  font-size: 0.8rem;
  margin: 0.25rem 0 0.25rem 0;
  > span {
    display: inline-block;
    padding: 0.25rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background-color: #e0e0e0;
    width: 6rem;
    &.first, &.previous {
      text-align: left;
    }
    &.current {
      text-align: center;
    }
    &.last, &.next {
      text-align: right;
    }
  }
}
